html {
  background-image: url("http://lorempixel.com/1024/768/nightlife");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #16a085;
}
a {
  color: #00b7ff;
}
h1,
h2,
#display {
  text-align: center;
  font: 25px;
  font-weight: bolder;
}
ul {
  padding: 10;
}
li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin: 10px;
}
p {
  margin-left: 10px;
}
#song_list {
  margin-left: 30px;
}
input {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  display: inline-block;
}
#my-input {
  margin-left: 400px;
}
#submit {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-left: 830px;
  margin-top: 0px;
  background-color: #3498db;
  color: #ecf0f1;
  font-size: 13px;
  font-style: italic;
  font-weight: 900;
}
#footer {
  margin-top: 830px;
}
